<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>animal shelter</title>
    </head>
    <body>
        <h1>animal_shelter</h1>
        <form action="/types" method="post">
            <label for="type">Enter a type of animal</label>
            <input type="text" name="type">
            <button type="submit" name="button">Add</button>    
        </form>
    </body>
</html>
