<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Animal Shelter</title>
    </head>
    <body>
        {% for type in types %}
        <li>{{type.getType}}</li>
        {% endfor%}
    </body>
</html>
